@import "tailwindcss";

:root {
    --is-blue: #1b0d2d;
    --is-blue-1: #F7007580;
    --is-blue-2: rgba(90, 57, 134, 0.278);
    --is-blue-3: #25123C;
    --is-blue-4: #36002D;
    --is-blue-5: #634F7C99;
    --is-blue-6: #120A2A;
    --is-blue-7: #634F7C;
    --is-blue-8: #25123CE5;
    --is-blue-9: #2E0A35;
    --is-blue-10: #DBEAFE;
    --is-blue-11: #25123c8b;
    --is-blue-12: #250b44dd;

    --is-gold: #FFBB00;
    --is-gold-1: #D2AF261A;
    --is-gold-2: #EAB308;

    --bg-gray: #FFFFFF80;
    --is-gray-1: #25123C99;
    --is-gray-2: #333333;
    --is-gray-3: #CACACA33;
    --is-gray-4: #B9B9B9;
    --is-gray-5: #25123C99;
    --is-gray-6: #9797971A;
    --is-gray-7: #979797;
    --is-gray-8: #BABCD4;
    --is-gray-9: #D9D9D9;
    --is-gray-10: #C0C0C0;
    --is-gray-11: #F9FAFC;
    --is-gray-12: #D9D9D980;
    --is-gray-13: #25123C1A;
    --is-gray-14: #7A89AC;
    --is-gray-15: #FFFFFF40;
    --is-gray-16: #FFFFFF33;
    --is-gray-17: #B0B0B0;
    --is-gray-18: #BFBFBF;
    --is-gray-19: #F7F7F780;
    --is-gray-20: #EFEAF5AA;
    --is-gray-21: #6D6E70;
    --is-gray-22: #B9B9B9B2;
    --is-gray-23: #667085;
    --is-gray-24: #6D6E7033;
    --is-gray-25: #FAFAFA;
    --is-gray-26: #666666;
    --is-gray-27: #86868640;
    --is-gray-28: #6B7280;
    --is-gray-40: #cd9ff7;
    --is-gray-41: #ffffff0b;

    --is-pink: #F70075;
    --is-pink-9: #F43F5E;
    --is-pink-10: #36002dd1;
    --is-pink-11: rgba(79, 32, 137, 0.481);

    --is-black: #00000040;
    --is-black-1: #100E23;
    --is-black-2: #25123C4D;
    --is-black-3: #66666600;
    --is-black-4: #0000007b;
    --is-black-5: #25123C0D;
    --is-black-6: #0B0B0B80;
    --is-black-7: #25123C33;
    --is-black-8: #F610670D;
    --is-black-9: #0000001A;
    --is-black-10: #F511681A;
    --is-black-11: #F5116833;
    --is-black-12: #25123C80;
    --is-black-13: #0D0D20;

    --is-white-1: #ECECEC;
    --is-white-2: #C9C9C9;
    --is-white-3: #D8DBE3;
    --is-white-4: #F8F8F8;
    --is-white-5: #E6F9F0;
    --is-white-6: #F2F4F7;

    --is-red: #F7252C;
    --is-red-1: #FF0000;
    --is-red-2: #FEE4E2;
    --is-red-3: #DC2626;
    --is-red-4: #E15353;
    --is-red-5: #FFE4E6;

    --is-green-1: #22C55E;
    --is-green-2: #D1FAE5;
    --is-green-3: #EAF8EF;
    --is-green-4: #86EFAC;
    --is-green-5: #22C55E33;
}

@font-face {
    font-family: "cairo";
    src: url("/assets/fonts/Cairo-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "cairo";
    src: url("/assets/fonts/Cairo-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "cairo";
    src: url("/assets/fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "cairo";
    src: url("/assets/fonts/Cairo-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "SF-Pro";
    src: url("/assets/fonts/SF-Pro-Text-Medium.otf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SF-Pro";
    src: url("/assets/fonts/SF-Pro-Text-Semibold.otf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SF-Pro";
    src: url("/assets/fonts/SF-Pro-Text-Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SF-Pro";
    src: url("/assets/fonts/SF-Pro-Text-Bold.otf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "SF-Pro";
    src: url("/assets/fonts/SF-Pro-Text-Light.otf") format("truetype");
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

[lang="ar"] body {
    font-family: "cairo", sans-serif;
}

[lang="en"] body {
    font-family: "SF-Pro", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-hidden {
    transform: translateY(-100%);
}

.nav-visible {
    transform: translateY(0);
}

.nav-white {
    background-color: white;
    color: black !important;
    box-shadow: 0 2px 5px #ccc;
}

.nav-white img {
    filter: brightness(0);
}

.nav-white .is-style-menu {
    color: black !important;
}

.nav-white button,
.nav-white a {
    border: 2px solid black;
}

.nav-white .btn::before {
    background-color: var(--is-blue-3);
}

.nav-white .btn:hover {
    color: white !important;
}

.nav-white .menu-line {
    background-color: black;
}

.container-footer,
.container-single-country,
.container {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
}

.container-footer {
    max-width: 1350px;
}

.container-single-country {
    max-width: 1300px;
}

.sections-marign-top {
    margin-top: 120px;
}

.dropdown-list {
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 99;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #6b7280;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    top: 2.75rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    width: 100%;
    background: var(--is-blue-1);
    backdrop-filter: blur(12px);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.dropdown-list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-list li.active {
    color: var(--is-gold);
    font-weight: bold;
}

.menu-line {
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu-icon.open .top-line {
    transform: translateY(6.5px) rotate(45deg);
}

.menu-icon.open .mid-line {
    opacity: 0;
    transform: scaleX(0);
}

.menu-icon.open .bot-line {
    transform: translateY(-6.5px) rotate(-45deg);
}

#destination-list {
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-height: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--is-pink) transparent;
}

#destination-list.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.btn {
    position: relative;
    cursor: pointer;
    transition: all 0.8s;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: all 0.8s;
}

.style-hover-card:hover .btn::before,
.btn:hover::before {
    height: 180%;
}

.active-destinations {
    background-color: var(--is-blue-3);
    color: white;
}

.active-destinations img {
    filter: brightness(0) invert(1) !important;
}

.active-bundle {
    background: var(--is-blue-3);
    color: white;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    margin: 0 15px;
    color: var(--is-pink);
}

.is-selected img {
    filter: invert(1);
}

.is-selected {
    background-color: var(--is-blue);
    color: white;
}

.fancybox__slide.has-image.is-animating,
.fancybox__slide.has-image.is-selected {
    background-color: transparent !important;
}

.custom-checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--is-pink);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: var(--is-pink);
}

.custom-checkbox:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes bounceScale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.animate-bounce-scale {
    animation: bounceScale 3s ease-in-out infinite;
}

.custom-class {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 12px;
    padding-bottom: 12px;

    width: 100%;

    color: var(--is-gray-7);

    position: relative;

    box-shadow: 0 1px 5px var(--is-black-2);

    background-color: var(--is-gray-13);

    border-radius: 10px;
}

.color-mark {
    filter: brightness(0) saturate(100%) invert(8%) sepia(20%) saturate(2000%) hue-rotate(180deg) brightness(90%)
}

.color-pink {
    filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(2000%) hue-rotate(300deg) brightness(100%)
}

.none-broder {
    border-width: 0 !important;
}

.order-1,
.order-2,
.order-3 {
    order: unset;
}

@media (max-width: 990px) {
    .sections-marign-top {
        margin-top: 60px;
    }

    .custom-check box {
        width: 22px;
    }

    .menu-line {
        background-color: black;
    }

    .dropdown-arrow {
        filter: brightness(0);
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }
}

@media (max-width: 390px) {
    .container {
        max-width: 350px;
    }

    .container-mobile {
        width: 95%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.style-scroll::-webkit-scrollbar {
    width: 0;
}

.wheel {
    height: 180px;
    width: 70px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    position: relative;
}

.wheel::-webkit-scrollbar {
    display: none;
}

.time-item {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    font-size: 18px;
    color: #666;
}

.time-item.active {
    color: #25123C;
    font-weight: bold;
    transform: scale(1.1);
}

.last-line::before {
    right: 0
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.input-autofill:-webkit-autofill,
.input-autofill:-webkit-autofill:hover,
.input-autofill:-webkit-autofill:focus,
.input-autofill:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
}